doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    title Shortened URL
    style.
      body {
        background-color: #333;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
      }
      .header {
        background-color: #1a5f7a;
        padding: 20px;
        text-align: center;
      }
      .header h1 {
        margin: 0;
        color: white;
      }
      .main-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }
      .content-wrapper {
        width: 100%;
        max-width: 700px;
      }
      .card {
        background-color: #444;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      .card-header {
        background-color: #28a745;
        color: white;
        font-weight: bold;
      }
      .btn-success {
        background-color: #28a745;
        border-color: #28a745;
      }
      .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
      }
      .btn-secondary {
        background-color: #1a5f7a;
        border-color: #1a5f7a;
      }
      .btn-secondary:hover {
        background-color: #154b61;
        border-color: #154b61;
      }
      .footer {
        background-color: #1a5f7a;
        color: #ffffff;
        text-align: center;
        padding: 1rem 0;
        margin-top: auto;
      }
  body
    header.header
      h1 URL Shortener
    .main-container
      .content-wrapper
        .card
          .card-header.text-center
            h2.h4.mb-0 Your Shortened URL
          .card-body
            p.lead.text-center Here's your shortened URL:
            .input-group.mb-3
              input#shortUrl.form-control(type="text", value=shortUrl, readonly)
              .input-group-append
                button#copyBtn.btn.btn-outline-light(type="button")
                  i.fas.fa-copy
            .text-center.mt-3
              a.btn.btn-success(href=shortUrl, target="_blank") Open Shortened URL
            form.mt-4(action="/", method="get")
              button.btn.btn-secondary.btn-block(type="submit") Shorten Another URL
    footer.footer
      .container
        p.mb-0 &copy; 2024 URL Shortener. All rights reserved.
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuVOuTu+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script.
      document.getElementById('copyBtn').addEventListener('click', function() {
        var shortUrl = document.getElementById('shortUrl');
        shortUrl.select();
        document.execCommand('copy');
        alert('Copied to clipboard!');
      });